.total_price {
    margin: 0 20px;
    height: 160px;
    background-image: linear-gradient(
        to right bottom,
        rgba(184, 51, 74, 1),
        rgba(184, 51, 74, 0.8)
    );
    border-radius: 16px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
    color: var(--whiteColor);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    div {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: normal;
            font-family: sans-serif;
            font-size: 14px;
            a {
                /* text-decoration: none; */
                color: var(--whiteColor);
            }
        }
    }
    h2 {
        font-weight: bold;
        font-size: 36px;
    }
    h3 {
        font-weight: 50;
        font-family: sans-serif;
        font-size: 14px;
    }
}

.graph_wrap {
    margin: 20px 20px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    padding: 20px;
}

.graph_wrap canvas {
    width: 100% !important;
    height: 100% !important;
}

.pickup_ramen {
    margin-bottom: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 10px;
    }
    .ramen_data {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        background-color: var(--whiteColor);
        height: 150px;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
        padding: 24px 20px;
        margin-top: 5px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            border: solid 4px var(--baseColor);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
        .ramen_data_text {
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ramen_data_shop {
                display: flex;
                flex-direction: column;
                gap: 2px;
                h2 {
                    font-size: 20px;
                    font-weight: 700;
                }
                p {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .ramen_data_option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    p {
                        color: var(--borderGray);
                        font-size: 11px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        span {
                            width: 14px;
                            height: 14px;
                            background-image: url(../images/map_icon.png);
                            background-position: center;
                            background-size: cover;
                        }
                        &:nth-child(2) {
                            span {
                                background-image: url(../images/footer_icon4.png);
                            }
                        }
                    }
                }
                h3 {
                    color: var(--accentColor);
                    font-size: 20px;
                }
            }
        }
    }
}
