.view_vlog {
    margin-top: 80px;
}

.search_box {
    margin: 0 20px;
    background-color: var(--cardBackground);
    height: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    &::after {
        content: "";
        position: absolute;
        z-index: 100;
        top: 18%;
        left: 10px;
        width: 20px;
        height: 20px;
        background-image: url("../images/Search.png");
    }
    input {
        width: 100%;
        height: 100%;
        margin-left: 35px;
        font-size: 14px;
    }
}
.filter_box {
    display: flex;
    gap: 10px;
    padding: 15px 20px 0;
    div {
        position: relative;
        select {
            background-color: var(--cardBackground);
            padding: 5px 10px;
            padding-right: 20px;
            border-radius: 10px;
            border: 1px solid var(--borderGray);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            option {
                font-size: 10px;
                font-weight: bold;
                opacity: 0;
                text-align: center;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 35%;
            right: 5%;
            width: 8px;
            height: 8px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-top: 8px solid #000;
        }
    }
}

.ramen_datas {
    margin: 10px 20px 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .ramen_data {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        background-color: var(--whiteColor);
        height: 150px;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
        padding: 24px 20px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            border: solid 4px var(--baseColor);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
        .ramen_data_text {
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ramen_data_shop {
                display: flex;
                flex-direction: column;
                gap: 2px;
                h2 {
                    font-size: 20px;
                    font-weight: 700;
                }
                p {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .ramen_data_option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    p {
                        color: var(--borderGray);
                        font-size: 11px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        span {
                            width: 14px;
                            height: 14px;
                            background-image: url(../images/map_icon.png);
                            background-position: center;
                            background-size: cover;
                        }
                        &:nth-child(2) {
                            span {
                                background-image: url(../images/time_icon.png);
                            }
                        }
                    }
                }
                h3 {
                    color: var(--accentColor);
                    font-size: 20px;
                }
            }
        }
    }
}
